= form_for @channel do |f|
  - if @channel.errors.any?
    #error_explanation
      h2 = "#{pluralize(@channel.errors.count, "error")} prohibited this channel from being saved:"
      ul
        - @channel.errors.full_messages.each do |message|
          li = message
  = f.hidden_field :forum_id, value: params[:forum_id]
  = f.hidden_field :user_id, value: session[:user_id]
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body  
  .actions = f.submit 'Save'
