h1 Listing channels

table
  tr
    th
    th
    th

  - @channels.each do |channel|
    tr
      td = link_to 'Show', channel
      td = link_to 'Edit', edit_channel_path(channel)
      td = link_to 'Destroy', channel, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Channel', new_channel_path
