br
.row
	.col-md-6
		= link_to 'Back', forum_path(@channel.forum_id), class: 'btn btn-default btn-sm'
		|&nbsp;
		= link_to 'Reply', new_post_path(channel_id: @channel), class: 'btn btn-primary btn-sm'
	.clearfix
hr
.cs-post
	.col-md-3
		h4 = @channel.user.username.capitalize
	.col-md-9
		h4 = @channel.title
		hr
		p = @channel.body
	.clearfix
- @channel.posts.each do |post|
	.cs-post
		.col-md-3
			h4 = post.user.username.capitalize
		.col-md-9
			- unless post.title.empty?
				h4 = post.title
				hr
			p style="padding-top:10px;" = post.body
		.clearfix