.col-md-6
  h3 = t('please_login')
  - if flash[:alert]
    .alert.alert-warning = flash[:alert]
  - if notice
      .alert.alert-success = notice
  = form_tag login_url ,:class => 'form-horizontal' do
    .form-group
      = label_tag :username, 'Username', class: 'control-label col-md-4'
      .col-md-8
        = text_field_tag :username, params[:username], class: 'form-control input-sm'
    .form-group
      = label_tag :password, 'Password', class: 'control-label col-md-4'
      .col-md-8
        = password_field_tag :password, params[:password], class: 'form-control input-sm'
    .form-group
      .col-md-offset-4.col-md-8
        = submit_tag 'Login', class: 'btn btn-primary btn-sm'