= form_for @forum do |f|
  - if @forum.errors.any?
    #error_explanation
      h2 = "#{pluralize(@forum.errors.count, "error")} prohibited this forum from being saved:"
      ul
        - @forum.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions = f.submit 'Save'
