h1 Listing forums

table.table.table-bordered.table-striped.table-condensed
  tr
    th Name
    th Description
    th
    th
    th

  - @forums.each do |forum|
    tr
      td = forum.name
      td = forum.description
      td = link_to 'Show', forum
      td = link_to 'Edit', edit_forum_path(forum)
      td = link_to 'Destroy', forum, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Forum', new_forum_path, class: 'btn btn-default btn-sm'
