br
.panel.panel-default
  .panel-heading Forum Detail
  .panel-body
    h4 
      = @forum.name 
      small &nbsp; #{@forum.description}
= link_to "Create Channel", new_channel_path(forum_id: @forum), class: 'btn btn-primary btn-sm'
.clearfix
br
- if @forum.channels.empty?
  .alert.alert-danger.text-center
    = icon('meh-o', '', class: 'fa-5x')
    p Channel not found
- else
  table.table.table-bordered.table-stripped
    tr
      th 
      th Title
      th Author
      th Views
    - @forum.channels.each do |channel|
      tr
        td = icon('archive')
        td = link_to channel.title, channel_path(channel)
        td = icon('user', channel.user.username.capitalize)
        td = icon('eye', channel.counter)