.col-md-6
  = form_for @user, :html => {:class => 'form-horizontal'} do |f|
    - if @user.errors.any?
      .alert.alert-danger
        h4 = "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        ul
          - @user.errors.full_messages.each do |message|
            li = message
    .form-group
      = f.label :username, class: 'control-label col-md-4'
      .col-md-8
        = f.text_field :username, class: 'form-control input-sm'
    .form-group
      = f.label :password, class: 'control-label col-md-4'
      .col-md-8
        = f.password_field :password, class: 'form-control input-sm'
    .form-group
      = f.label :password_confirmation, class: 'control-label col-md-4'
      .col-md-8
        = f.password_field :password_confirmation, class: 'form-control input-sm'
    .form-group
      = f.label :email, class: 'control-label col-md-4'
      .col-md-8
        = f.email_field :email, class: 'form-control input-sm', required: 'required'

    .form-group
      .col-md-offset-4.col-md-8
        = f.submit t('register'), class: 'btn btn-success btn-sm'
