h1 Listing users

table.table.table-bordered.table-hover.table-condensed
  tr
    th Username
    th Password
    th Role
    th
    th
    th

  - @users.each do |user|
    tr
      td = user.username
      td = user.password
      td = convert_role(user.role_id)
      td = link_to 'Show', user
      td = link_to 'Edit', edit_user_path(user)
      td = link_to 'Destroy', user, data: {:confirm => 'Are you sure?'}, :method => :delete