h1 Listing users

table.table.table-bordered.table-hover
  tr
    th Username
    th Password
    th
    th
    th

  - @users.each do |user|
    tr
      td = user.username
      td = user.password
      td = link_to 'Show', user
      td = link_to 'Edit', edit_user_path(user)
      td = link_to 'Destroy', user, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New User', new_user_path, class: 'btn btn-default'
