.row
  .col-md-12
    .fb-like data-href="#{request.original_url}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"
  .clearfix
.col-md-6
  .h3 Forums
  .list-group
    - @forums.each do |forum|
      = link_to forum.name, forum, class: 'list-group-item'
.col-md-6
  .h3 Users
  .list-group
    - @users.each do |user|
      = link_to user.username, user, class: 'list-group-item'