@import 'bootstrap';
@import 'font-awesome';

@font-face {  
  font-family: "quicksand";  
  src: url("/assets/fonts/quicksand/Quicksand-Regular.otf");
}  

html,
body {
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.carousel {
  .item {
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s; 
    -ms-transition: opacity 3s; 
    -o-transition: opacity 3s; 
    transition: opacity 3s;
  }

  .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
  }

  .next {
    left: 0;
    opacity: 1;
    z-index: 1;
  }
}

.height-fluid {
  height: 100%;
}

.bordered {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

#side-bar {
  background:#186A8A;
  color:#fff; 
  border-right: 1px solid #2e2e2e;

  .list-group {
    .list-group-item {
      margin-bottom: 3px;
    }
  }
}

.heading {
  h3,
  h4 {
    font-family: "quicksand";
  }
}

.cs-post {  
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 5px;

  .col-md-9 {
    border-left: 1px solid #ccc; 
  }
}