doctype HTML
html
  head
    title Login Rails
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  body
    #side-bar.col-md-2.height-fluid
      .heading
        h3
          strong Control Panel
        h4 style="letter-spacing:-1px;" Hi, #{get_user.capitalize}
      .row
        hr
      .row
        .list-group
          = link_to root_url, class: 'list-group-item bordered' do
            = icon('home', 'Look Website', class: 'fa-lg')
          = link_to admin_forums_path, class: 'list-group-item bordered', remote: true do
            = icon('comments', 'Forums', class: 'fa-lg')
          = link_to login_path, class: 'list-group-item bordered' do
            = icon('rss', 'Threads', class: 'fa-lg')
          = link_to admin_users_path, class: 'list-group-item bordered', remote: true do
            = icon('users', 'Users', class: 'fa-lg')
          = link_to logout_path, method: :delete, class: 'list-group-item bordered' do
            = icon('sign-out', 'Logout', class: 'fa-lg')
    #content.col-md-10
      = yield
    .clearfix