doctype HTML
html
  head
    title Tesseract
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  body
    #fb-root
    javascript:
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=288641757957965";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    nav.navbar.navbar-default role="navigation"
      .container
        .container-fluid
          .navbar-header
            a.navbar-brand href="#{root_url}" Tesseract
          = form_tag root_url, class: 'navbar-form navbar-left locale', method: 'get' do
            = select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()', class: 'form-control input-sm'
            = submit_tag 'submit'
            = javascript_tag "$('.locale input').hide()"
          ul.nav.navbar-nav
            li
              = link_to "Forum", forums_path
          ul.nav.navbar-nav.navbar-right
            - if session[:user_id].nil?
              li
                = link_to t('register'), register_url
              li.active
                = link_to t('.login'), login_url
            - else
              li
                = link_to get_user.capitalize, profile_path(session[:user_id])
              li.active
                = link_to t('.logout'), logout_url, method: :delete
    - if notice
      .container
        .row
          .col-md-12
            .alert.alert-warning = notice
          .clearfix
    - if current_page?(root_url)
      #carousel-home.carousel.slide data-ride="carousel"
        / Wrapper for slides
        .carousel-inner
          .item.active
            img src="assets/0.jpg" alt="slider 1"
          .item
            img src="assets/1.jpg" alt="slider 2"
          .item
            img src="assets/2.jpg" alt="slider 3"
          .item
            img src="assets/3.jpg" alt="slider 4"
          .item
            img src="assets/4.jpg" alt="slider 5"
      javascript:
        $('.carousel').carousel({
          interval: 5000,
          pause: "hover",
            wrap: true
        });
    .container
      = yield